@page
@model _7024Movies.Pages.TestingModel
@{
    var results = (_7024Movies.Result[]) ViewData["MovieResults"];
}

<div class="row">
    <table class="table">
        <tr>
            <th>MovieTitle</th>
            <th>Popularity</th>
        </tr>
        @{ 
           foreach (_7024Movies.Result result in results)
            {
                <tr>
                    <td>@result.Title</td>
                    <td>@result.Popularity</td>
                </tr>
            }
        }

    </table>
</div>
<div class="row">
    @{
        foreach (_7024Movies.Result result in results.Take(10))
        { 
        <div class="card text-center" style="width: 15rem;">
            <div class="card-body">
                <h3 class="card-title">@result.Title</h3>
                <p class="card-text">@result.ReleaseDate</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Popularity Score: @result.Popularity</li>
                <li class="list-group-item">Vote Average: @result.VoteAverage</li>
            </ul>
        </div>
        }
    }
</div>
